## csv files yes !! more fun with read_csv Function

 ## try it !

In [1]:
import pandas as pd

In [3]:
import pandas as pd
pokemon=pd.read_csv("pokemon.csv")
pokemon

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

## try it!!

In [27]:
# second csv file
google=pd.read_csv("google_stocks.csv")
google

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [5]:
##parse dates are just a way of saying i want my date to be read as date not strings
pd.read_csv("google_stocks.csv", parse_dates = ["Date"]).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [10]:
#index colum is just saying this is what i want as my index you can reset if you want
pd.read_csv(  "google_stocks.csv",  parse_dates = ["Date"],  index_col = "Date").head()

            Close
Date
2004-08-19  49.98
2004-08-20  53.95
2004-08-23  54.50
2004-08-24  52.24
2004-08-25  52.80

### try it!!!

In [12]:
##another csv file
pd.read_csv( "revolutionary_war.csv", index_col = "Start Date",   parse_dates = ["Start Date"],).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

### yah sorting algorithms but the fun way buddy

In [25]:
#we will talk about sort values and sort index in later chapters
pd.Series(data = ["Adam", "adam", "Ben"]).sort_values()

0    Adam
2     Ben
1    adam
dtype: object

### try it!!!!

In [36]:
pokemon.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fighting / Flying      1
Psychic / Fighting     1
Ground / Steel         1
Fighting / Ghost       1
Fighting / Dark        1
Name: Type, Length: 159, dtype: int64

In [37]:
len(pokemon.value_counts())

159

In [38]:
pokemon.nunique()

159

In [44]:
google.max()

1287.58

In [45]:
google.min()

49.82

## Invoking a Function on Every Series Value with the apply Method
## the apply function miracles

In [55]:
funcs = [len, max, min]

In [56]:
funcs = [len, max, min]

for current_func in funcs:
    print(current_func(google))

3824
1287.58
49.82

In [57]:
round(99.2)

99

In [58]:
round(99.49)

99

In [59]:
round(99.5)

100

In [60]:
# The two lines below are equivalent
google.apply(func = round)
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [61]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "Multi"
    
    return "Single"

In [62]:
pokemon.head(4)

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Name: Type, dtype: object

In [63]:
pokemon.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [64]:
pokemon.apply(single_or_multi).value_counts()

Multi     405
Single    404
Name: Type, dtype: int64

## Take up a Challenge Buddy

In [33]:
##the date library its inbuilt so you don't Have to struggle with dates and time

import datetime as dt
today = dt.datetime(2024, 12, 26)
today.strftime("%A")

'Thursday'

In [41]:
pd.read_csv("revolutionary_war.csv").head()

                              Battle  Start Date          State
0                       Powder Alarm    9/1/1774  Massachusetts
1  Storming of Fort William and Mary  12/14/1774  New Hampshire
2   Battles of Lexington and Concord   4/19/1775  Massachusetts
3                    Siege of Boston   4/19/1775  Massachusetts
4                 Gunpowder Incident   4/20/1775       Virginia

In [36]:
days_of_war = pd.read_csv("revolutionary_war.csv", usecols = ["Start Date"], parse_dates = ["Start Date"],)
days_of_war.head()

  Start Date
0 1774-09-01
1 1774-12-14
2 1775-04-19
3 1775-04-19
4 1775-04-20

In [37]:
def day_of_week(date):
    return date.strftime("%A")

In [40]:
##you are rquired to finish this buddy